<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="index.js"></script>


</head>

<body>
    <br>
    <br>
    <div class="container d-none" id="app">
        <div class="row">
            <!-- <div class="col-12 sidebarLeft col-sm-3">
                <div class="row">
                    <img class="sb-img" src="img.jpg" alt="">
                </div>
                <h5>Hi, <br>
                    I'm Sukhchain Singh</h5>
                <h2 class="font-weight-bold">
                    I’m a Full Stack Web developer
                </h2>

                <hr>
                <span>
                    <i class="bi bi-geo-alt"></i>
                    Barcelona, Spain
                </span>
                <br>
                <span>
                    <i class="bi bi-translate"></i>
                    Spanish, English, Punjabi, Hindi
                </span>
                <br>
                <span>
                    <i class="bi bi-envelope"></i>
                    gillv625@gmail.com
                </span>
            </div> -->
            <Personal-data v-if="languageSpa" v-bind:personaldata="spa.leftSidebar"></Personal-data>
            <Personal-data v-else v-bind:personaldata="eng.leftSidebar"></Personal-data>
            <div class="col sidebarRight">

                <br>
                <div class="row">
                    <div class="d-flex flex-row-reverse">

                        <label class="float-right switch">
                            <input id="langSwitch" @change="langChanged" type="checkbox" v-model="languageSpa">
                            <span id="langSwitchSlider" class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class=" sidebar-section">
                    <div style="padding: 0;">
                        <h1 v-if="languageSpa" class="title">{{spa.skills}} <i class="bi bi-keyboard"></i></h1>
                        <h1 v-else class="title">{{eng.skills}} <i class="bi bi-keyboard"></i> </h1>
                    </div>
                    <div class="all-skill-group">
                        <!-- <div class="skill-group">
                            <div class="float-left-bar"></div>
                            <div class="float-right float-right-bar">
                                <h3>Node.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar"></div>
                                </div>
                                <h3>Vea.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-group">

                            <div class="float-left-bar"></div>

                            <div class="float-right  float-right-bar">
                                <h3>Nodes.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar" style="width: 20%;"></div>
                                </div>

                            </div>
                        </div> -->
                        <Skills v-for="item in skillsList" v-bind:skillgroup="item" v-bind:key="item.id">

                    </div>

                    </Skills>
                </div>

                <br>
                <div class=" sidebar-section">
                    <div style="padding: 0;">
                        <h1 v-if="languageSpa" style="background-color: #98aca4" class="title">Experiencia con programas
                            <i class="bi bi-hand-thumbs-up"></i>

                        </h1>
                        <h1 v-else style="background-color: #98aca4" class="title">Experience with software
                            <i class="bi bi-hand-thumbs-up"></i>
                        </h1>
                    </div>
                    <div class="all-app-group">
                        <Apps v-for="item in languageSpa?spa.apps:eng.apps" v-bind:appgroup="item" />
                        <!-- <Apps v-if="!languageSpa" v-for="item in eng.apps" v-bind:appgroup="item"
                            v-bind:key="item.id" /> -->
                        <!-- <Apps v-else v-for="item in eng.apps" v-bind:appgroup="item" v-bind:key="item.id" /> -->

                        <!-- <div class="app-group">
                            <div class="float-right float-right-bar">
                                <h3 class="app-title">Visual Design</h3>
                                <div class="float-left-bar"></div>
                                <div class="d-flex flex-wrap">
                                    <div class="app-item">
                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://media.inkscape.org/static/images/inkscape-logo.svg" alt="">
                                            <b>Inkscape</b> - <small>software de gráficos vectoriales</small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://www.gimp.org/images/frontpage/wilber-big.png" alt="">
                                            <b>GIMP</b> -
                                            <small>edición de imágenes</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-group">
                            <div class="float-right float-right-bar">
                                <h3 class="app-title">CMS</h3>
                                <div class="float-left-bar"></div>
                                <div class="d-flex flex-wrap">
                                    <div class="app-item">
                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://upload.wikimedia.org/wikipedia/commons/9/98/WordPress_blue_logo.svg"
                                                alt="">
                                            <b>Wordpress </b> <small></small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://i.imgur.com/5NwKNet.png" alt="">
                                            <b>Strapi</b> <small> </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-group">
                            <div class="float-right float-right-bar">
                                <h3 class="app-title">Other development tools</h3>
                                <div class="float-left-bar"></div>
                                <div class="d-flex flex-wrap">
                                    <div class="app-item">
                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png"
                                                alt="">
                                            <b>Git </b> <small></small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png"
                                                alt="">
                                            <b>bootstrap.css</b> <small> </small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://i.imgur.com/tCWBEaM.png" alt=""> 
                                            <b>Chrome DevTools</b> <small> </small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2019-07/Moby-logo.png?itok=sYH_JEaJ"
                                                alt="">
                                            <b>Docker</b> <small> </small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://user-images.githubusercontent.com/674621/71187801-14e60a80-2280-11ea-94c9-e56576f76baf.png"
                                                alt="">
                                            <b>Visual Studio IDE & Code</b> <small> </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="skill-group">

                            <div class="float-right  float-right-bar">
                                <h3>Nodes.js</h3>
                                <a href="#" class="list-group-item  d-flex   align-items-center">

                                    <div class="image-parent">
                                        <img class="app-icon float-left"
                                            src="https://media.inkscape.org/static/images/inkscape-logo.svg" alt="">
                                    </div>
                                    <div class="flex-column"> Inkscape - <small>Software asd asd ad asd asd as d</small>
                                    </div>
                                </a>

                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 mb-4">

                            <div class="list-group-flush">
                                <div class="list-group-item">
                                    <p class="mb-0"> <img class="app-icon float-left"
                                            src="https://media.inkscape.org/static/images/inkscape-logo.svg"
                                            alt="">Inkscape - <small>Software asd asd ad asd asd as d</small></p>
                                </div>
                                <div class="list-group-item">
                                    <p class="mb-0"> <img class="app-icon float-left"
                                            src="https://media.inkscape.org/static/images/inkscape-logo.svg"
                                            alt="">Inkscape - <small>Software asd asd ad asd asd as d</small></p>
                                </div>
                                <div class="list-group-item">
                                    <p class="mb-0"> <img class="app-icon float-left"
                                            src="https://media.inkscape.org/static/images/inkscape-logo.svg"
                                            alt="">Inkscape - <small>Software asd asd ad asd asd as d</small></p>
                                </div>

                            </div>

                        </div> -->

                    </div>

                    </Skills>
                </div>
                <br>

            </div>
</body>

</html>