<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sukhchain Singh</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="index.js"></script>


</head>

<body>
    <div class="container d-none" id="app">
        <div class="row">
            <!-- <div class="col-12 sidebarLeft col-sm-3">
                <div class="row">
                    <img class="sb-img profile" src="img.jpg" title="!!!!">
                </div>
                <h5 style="white-space: pre-wrap">{personaldata.intro}}</h5>
                <h2 class="font-weight-bold">{personaldata.iam}}</h2>
                <hr>
                <span><i class="bi bi-geo-alt"></i> {personaldata.location}}</span>
                <br>
                <span><i class="bi bi-translate"></i> {personaldata.languages}}</span>
                <br>
                <span><i class="bi bi-envelope"></i> {personaldata.email}}</span>
            </div> -->
            <Personal-data v-if="languageSpa" v-bind:personaldata="spa.leftSidebar"></Personal-data>
            <Personal-data v-else v-bind:personaldata="eng.leftSidebar"></Personal-data>
            <div class="col sidebarRight">

                <br>
                <div class="row">
                    <div class="d-flex flex-row-reverse">

                        <label class="float-right switch">
                            <input id="langSwitch" @change="langChanged" type="checkbox" v-model="languageSpa">
                            <span id="langSwitchSlider" class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class=" sidebar-section">
                    <div style="padding: 0;">
                        <h1 v-if="languageSpa" class="title">{{spa.skills}} <i class="bi bi-keyboard"></i></h1>
                        <h1 v-else class="title">{{eng.skills}} <i class="bi bi-keyboard"></i> </h1>
                    </div>
                    <div class="all-skill-group">
                        <!-- <div class="skill-group">
                            <div class="float-left-bar"></div>
                            <div class="float-right float-right-bar">
                                <h3>Node.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar"></div>
                                </div>
                                <h3>Vea.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill-group">

                            <div class="float-left-bar"></div>

                            <div class="float-right  float-right-bar">
                                <h3>Nodes.js</h3>
                                <div class="progress ">
                                    <div class="progress-bar" style="width: 20%;"></div>
                                </div>

                            </div>
                        </div> -->
                        <Skills v-for="item in skillsList" v-bind:skillgroup="item" v-bind:key="item.id"></Skills>

                    </div>

                </div>

                <br>
                <div class=" sidebar-section">
                    <div style="padding: 0;">
                        <h1 v-if="languageSpa" style="background-color: #98aca4" class="title">Experiencia con programas
                            <i class="bi bi-hand-thumbs-up"></i>

                        </h1>
                        <h1 v-else style="background-color: #98aca4" class="title">Experience with software
                            <i class="bi bi-hand-thumbs-up"></i>
                        </h1>
                    </div>
                    <div class="all-app-group">
                        <Apps v-for="item in languageSpa?spa.apps:eng.apps" v-bind:appgroup="item"
                            v-bind:key="item.id" />
                        <!-- <Apps v-if="!languageSpa" v-for="item in eng.apps" v-bind:appgroup="item"
                            v-bind:key="item.id" /> -->
                        <!-- <Apps v-else v-for="item in eng.apps" v-bind:appgroup="item" v-bind:key="item.id" /> -->

                        <!-- <div class="app-group">
                            <div class="float-right float-right-bar">
                                <h3 class="app-title">Visual Design</h3>
                                <div class="float-left-bar"></div>
                                <div class="d-flex flex-wrap">
                                    <div class="app-item">
                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://media.inkscape.org/static/images/inkscape-logo.svg" alt="">
                                            <b>Inkscape</b> - <small>software de gráficos vectoriales</small>
                                        </p>
                                    </div>
                                    <div class="app-item">

                                        <p class="mb-0"> <img class="app-icon float-left"
                                                src="https://www.gimp.org/images/frontpage/wilber-big.png" alt="">
                                            <b>GIMP</b> -
                                            <small>edición de imágenes</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->



                    </div>
                </div>

                <br>
                <div class=" sidebar-section">
                    <div style="padding: 0;">
                        <h1 v-if="languageSpa" style="background-color: rgb(199 199 199)" class="title">Trabajos
                            <i class="bi bi-award"></i>

                        </h1>
                        <h1 v-else style="background-color: rgb(199 199 199)" class="title">Work
                            <i class="bi bi-award"></i>
                        </h1>
                        <div class="all-work-group">
                            <div class="row row-cols-1 row-cols-md-3 q g-4">
                                <div class="col">
                                    <div class="card" onclick="handleWorkClick(1)">
                                        <img src="https://i.imgur.com/oqCmqVP.png" class="card-img-top work-img"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Vue.js + Nuxt.js + Bulma.css</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" onclick="handleWorkClick(2)">
                                        <img src="https://i.imgur.com/cqgwplg.png" class="card-img-top work-img"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">React Native</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col">
                                    <div class="card  ">
                                        <img src="https://i.imgur.com/oqCmqVP.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div id="workItemModal1" class="port itemx_open">
            <div class="container">
                <div onclick="handleWorkClose(1)">

                    <a href="#" class="close" style="float: right"></a>
                </div>
                <div class="row d-flex justify-content-center  ">


                    <div class="col-md-3">
                        <h1>Web App</h1>
                        <p>made with Vue.js and Nuxt.js as front-end framworks and a CSS library called Bulma </p>
                    </div>
                    <div class="col-10 col-md-6 ">

                        <img class="border work-model-img" src="https://i.imgur.com/oqCmqVP.png" alt="">
                    </div>
                    <div class="col-10">

                        <img class="border work-model-img" src="https://i.imgur.com/nZby4ef.png" alt="">
                    </div>
                    <div class="col-10">

                        <img class="border work-model-img" src="https://i.imgur.com/dOSOyUJ.png" alt="">
                    </div>

                </div>

            </div>
        </div>
        <div id="workItemModal2" class="port itemx_open">
            <div class="container">
                <div onclick="handleWorkClose(2)">

                    <a href="#" class="close" style="float: right"></a>
                </div>
                <div class="row d-flex justify-content-center  ">


                    <div class="col-md-3">
                        <h1>React Native app</h1>
                        <p>made with help of Expo framwork. It's compatable with Android, iOS, and the web browsers</p>
                    </div>
                    <div class="col-10 col-md-6 ">
                        <video controls>
                            <source src="https://i.imgur.com/wP1Sb4f.mp4" type="video/mp4">
                        </video>
                    </div>
                    <!-- <div class="col-10">

                        <img class="border work-model-img" src="https://i.imgur.com/nZby4ef.png" alt="">
                    </div>
                    <div class="col-10">

                        <img class="border work-model-img" src="https://i.imgur.com/dOSOyUJ.png" alt="">
                    </div> -->

                </div>

            </div>
        </div>

    </div>
</body>

</html>