body {
    font-family: 'Roboto', sans-serif !important;
    color: #424242;
    background-color: #d3d3d3 !important;
}

/* .container{
    display: none;
} */
.profile {
    filter: grayscale(1);
}

.profile:hover {
    filter: none
}

/* div {
    border: 1px solid black;
} */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }

    30% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }

    30% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

/* .sidebarLeft {
    animation: .51s ease-out 0s 1 slideInFromLeft;

    padding: 30px;
}

.sidebarRight {

    animation: .92s ease-out 0s 1 slideInFromRight;

    padding: 30px;
} */


.sb-img {
    border-radius: 50%;
}

.all-skill-group {
    /* width: 100%;  */
    /* display: flex;
    flex-wrap: wrap; */
    padding: 14px;
    margin: 0;
    /* background-color: #4DFFB4; */
    background: linear-gradient(-45deg, #9f30d4, #2d8fd9, #4dffb4, #4dffb4);
}

.skill-group {
    margin-bottom: 10px;
    width: 100%;
    display: table;
}

.skill-group .progress {
    padding: 2px;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
    border-radius: 40px;
}

.skill-group .progress-bar {
    width: 0;
    border-radius: 40px;

    background-color: #2e96a5
}

.skill-group .float-left-bar {
    float: left;
    height: 100%;
    /* height: 30px; */
    background-color: #2e96a56b;
    width: 5px;

    display: table-cell;
    float: none;

    /* margin-right: 10px; */
    border-radius: 15px;
}

.skill-group .float-right-bar {


    margin-left: 10px;
}

.sidebar-section .title {
    background-color: #4DFFB4;
    display: inline-block;
    padding: 5px 40px 5px 30px;
    margin: 0;
}


/* || switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    /* background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-united-kingdom_1f1ec-1f1e7.png");
    background-size: contain; */

}

.slider-eng:before {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-united-kingdom_1f1ec-1f1e7.png");
    background-size: contain;
}

.slider-spa:before {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-spain_1f1ea-1f1f8.png");
    background-size: contain;
}

input:checked+.slider {
    /* background-color: #4DFFB4; */
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.app-icon {
    width: 32px;
    padding: 0 7px 0 0;
}

.app-item {
    /* border: 1px solid gray; */
    padding: 0 10px;
    margin: 5px;
}

.all-app-group {
    /* width: 100%;  */
    /* display: flex;
    flex-wrap: wrap; */
    padding: 14px;
    margin: 0;
    background-color: #bbc5c2;
    ;
    /* background: linear-gradient(-45deg, #9f30d4, #2d8fd9, #4dffb4, #4dffb4); */
}

.app-group {
    margin-bottom: 10px;
    width: 100%;
    display: table;
}

.app-title {
    padding: 0 0 0 20px;
}