body {
    font-family: 'Roboto', sans-serif !important;
    color: #424242;
    background-color: #d3d3d3 !important;
    margin: 30px 0 !important;
}

/* .container{
    display: none;
} */
.profile {
    filter: grayscale(1);
    width: 100%;
    animation: imageColord 1s 2s forwards;
}

@keyframes imageColord {
    from {
        filter: grayscale(1);
    }

    to {
        filter: none;

    }
}

.profile:hover {
    filter: none
}

.cursor-pointer {
    cursor: pointer;
}

/* #show,
#content {
    visibility: hidden;
}

#show:checked~#content {
    visibility: visible;
}

#show:not(:checked)~#iconMoreInfo::after {
    content: "▼";
}

#show:checked~#iconMoreInfo::after {
    content: "▲";
} */

#content {
    visibility: hidden;
    transition: all 0s ease 1000s;
    /*delay 1s*/

}

#txtMoreInfo {
    transition: all 0s ease 1000s;
    height: 0;

}

#txtMoreInfo:hover~#content {
    transition-delay: 0s;

    visibility: visible;
}

#txtMoreInfo:hover {
    transition-delay: 0s;
    height: 0;
    visibility: hidden;
}


/* #show:checked~#content {
    visibility: visible;
}

#show:not(:checked)~#iconMoreInfo::after {
    content: "▼";
}

#show:checked~#iconMoreInfo::after {
    content: "▲";
} */



/* div {
    border: 1px solid black;
} */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }

    30% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }

    30% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

/* .sidebarLeft {
    animation: .51s ease-out 0s 1 slideInFromLeft;

    padding: 30px;
}

.sidebarRight {

    animation: .92s ease-out 0s 1 slideInFromRight;

    padding: 30px;
} */


.sb-img {
    border-radius: 50%;
}

.all-skill-group {
    /* width: 100%;  */
    /* display: flex;
    flex-wrap: wrap; */
    padding: 14px;
    margin: 0;
    /* background-color: #4DFFB4; */
    background-image: linear-gradient(-45deg, #9f30d4, #2d8fd9, #4dffb4, #4dffb4, #4dffb4, #bbc5c2, #bbc5c2, #bbc5c2, #bbc5c2);
    background-size: 300% 100%;

    transition: background-position 1s;
    animation: slideinLoadSkills 1s 1.8s forwards;

}

@keyframes slideinLoadSkills {
    from {
        /* background-position: 0 0; */
    }

    to {
        background-position: 100% 0;
    }
}

/* .all-skill-group:hover {
    background-position: 100% 0;
    /* background-image: linear-gradient(-45deg, #9f30d4, #9f30d4, #2d8fd9, #2d8fd9, #4dffb4, #4dffb4, #4dffb4, #4dffb4, #4dffb4, #4dffb4, #4dffb4, #4dffb4, ); */

}

*/ .skill-group {
    margin-bottom: 10px;
    width: 100%;
    display: table;
}

.skill-group .progress {
    padding: 2px;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 8px;
    border-radius: 40px;
}

.skill-group .progress-bar {
    width: 0;
    border-radius: 40px;

    background-color: #2e96a5
}

.skill-group .float-left-bar {
    float: left;
    height: 100%;
    /* height: 30px; */
    background-color: #2e96a56b;
    width: 5px;

    display: table-cell;
    float: none;

    /* margin-right: 10px; */
    border-radius: 15px;
}

.skill-group .float-right-bar {


    margin-left: 10px;
}

.sidebar-section .title {
    /* background-color: #4DFFB4; */
    display: inline-block;
    padding: 5px 40px 5px 30px;
    margin: 0;
}

#skillTitle {
    background-color: rgb(152, 172, 164);
    transition: background-color 1s;
    animation: fadeinLoadSkillTitle 1s 2s forwards;
}

@keyframes fadeinLoadSkillTitle {
    from {
        background-color: rgb(152, 172, 164);
    }

    to {
        background-color: #4DFFB4;
    }
}

/* #skillTitle:hover {
    background-color: #4DFFB4;
} */

/* || switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    /* background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-united-kingdom_1f1ec-1f1e7.png");
    background-size: contain; */

}

.slider-eng:before {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-united-kingdom_1f1ec-1f1e7.png");
    background-size: contain;
}

.slider-spa:before {
    background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/joypixels/275/flag-spain_1f1ea-1f1f8.png");
    background-size: contain;
}

input:checked+.slider {
    /* background-color: #4DFFB4; */
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.app-icon {
    width: 32px;
    padding: 0 7px 0 0;
}

.app-item {
    /* border: 1px solid gray; */
    padding: 0 10px;
    margin: 5px;
}

.all-app-group {
    /* width: 100%;  */
    /* display: flex;
    flex-wrap: wrap; */
    padding: 14px;
    margin: 0;
    background-color: #bbc5c2;
    ;
    /* background: linear-gradient(-45deg, #9f30d4, #2d8fd9, #4dffb4, #4dffb4); */
}

.app-group {
    margin-bottom: 20px;
    width: 100%;
    display: table;
}

.app-title {
    /* padding: 0 0 0 20px; */
    margin: 0 0 5px 20px;
    border-bottom: 3px solid #80808042;
    display: inline-block;
}

/* --- WORK*/
.all-work-group {
    padding: 14px;
    margin: 0;
    background-color: #f4f4f4;
}

.work-img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 255px;
}

.work-model-img {
    margin: 10px;
}


.port {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 40px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    overflow: auto;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.port img {
    width: 100%;
}

.port video {
    height: 90vh;
}

.port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
}

.port>* {
    /* opacity: 0; */
    /* -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; */
}

.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    /* -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out; */
    /* transition: all 0.4s ease-in-out; */
}

/* .port>* {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
} */

.close {
    margin: 15px;
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: 10px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    /* -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; */
}

.item_open .close {
    opacity: 1;
    top: 0px;
    /* -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
}